{{#each items as |item|}}
  <section data-id="{{item._id}}">
    <h6>Title:</h6>
    <h3>
      {{limit item.title 15}}
    </h2>
    <h6>Content</h6>
    <form data-id="{{item._id}}" class="change-item">
      <input type="text" name="item[name]" placeholder="New Name" />
      <input type="text" name="item[quantity]" placeholder="New Quantity" />
      <input type="text" name="item[price]" placeholder="New Price" />
      <input type="submit" value="Update Item" />
    </form>
    <button data-id="{{item._id}}" class="btn btn-danger remove-item">Delete Item</button>
  </section>

{{/each}}
